.cover {
  background: #f7f7f7;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade-out 4s /*infinite*/;
  z-index: 1;
  left: 0;
  top: 0;
}

.cover #icon {
  --size: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size);

  animation: zoom-in 2s /*infinite*/;
  animation-delay: 1s;
}

@keyframes zoom-in {
  50% {
    width: var(--size);
  }
  60% {
    width: calc(var(--size) * 0.9);
  }
  100% {
    width: 250%;
  }
}

@keyframes fade-out {
  0%,
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ///////

/////// */
.login-title {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  background-color: #0069d9;
  padding-top: 40px;
  padding-bottom: 39px;
  position: absolute;
  right: 0;
  left: 0;
  top: -10px;
}
.login-profile {
  margin-bottom: 50px;
  padding: 20px;
  position: relative;
  padding-top: 125px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.register-title {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  background-color: #0069d9;
  padding-top: 50px;
  padding-bottom: 39px;
  position: absolute;
  right: 0;
  left: 0;
  top: -10px;
}
.register-profile {
  padding: 20px;
  position: relative;
  padding-top: 125px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/* 
chat styles
*/
.chat {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.messages {
  display: flex;
  background-color: rgb(250, 250, 250);
  flex-flow: column;
  height: calc(100% - 75px);
  max-height: 500px;
  overflow-y: auto;
}

.chat-bubble {
  background-color: #bbdefb;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #757575;
  text-align: right;
}

.chat-bubble.user {
  margin-right: auto;
}
.chat-bubble.current-user {
  margin-left: auto;
  background-color: #a5d6a7;
}

/* form styles */
.chat form {
  display: flex;
  height: 75px;
}

.chat input[type="submit"] {
  height: 50px;
  width: 75px;
  margin-top: 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
}
.chat input[type="text"] {
  flex: 1;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 50px;
  margin-top: 12px;
}
.chat input[type="text"]:focus,
input[type="submit"] {
  outline: none;
}
